<div class="container text-center">
<nav class="navbar navbar-light bg-light ">
  <button class="btn btn-info" [routerLink]="'/'">Danh sách đọc</button>
</nav>

<!-- As a heading -->
<nav class="navbar navbar-light bg-light text-center">
  <button class="btn btn-warning" [routerLink]="'/seen'">Danh sách đã đọc</button>
</nav>
<router-outlet></router-outlet>





<div class="card">
  <div class="card-body">
    Em không biết sửa lỗi block access của serve bên Angular nên em không thêm chức năng sửa được ạ.
    Access to XMLHttpRequest at 'http://[::]:8081/books/0' from origin 'http://localhost:4200' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
  </div>
</div>
</div>

